{%extends 'index.html'%}
{% load bootstrap3 %}
{% load static%}

{% block content %}

<div class="home">
  <h2>Featured books</h2>
<div class="card" style="width: 100vh;">
  {% for book in books %}
   <img class="card-img-top" src="{{book.imageURL}}" alt="Card image cap">
   <div class="card-body">
     <h5 class="card-title">{{book.title}}</h5>
     <h5>{{book.author}}</h5>
     <p class="card-text">{{book.synopsis}}</p>
     <a href="#" class="btn btn-primary">Review</a>
   </div>
     {% endfor %}
 </div>
</div>




  
   


{% endblock %}
