

.homepage{
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100vh; 
}

* {
  margin: 0;
  padding: 0;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

img {
  border-radius: 5px 5px 0 0;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.book{
	border-radius: 0 0 4px 4px;
}
